<h2>Редактирование профиля</h2>

<%= simple_form_for resource, :url => registration_path(resource_name), :method => :put do |f| %>
  <%= f.input :surname %>
  <%= f.input :name %>
  <%= f.input :patronymic %>
  <%= f.input :email %>
  <%= f.input :password, :hint => 'Оставьте пустым, если не хотите менять пароль' %>
  <%= f.input :password_confirmation %>
  <%= f.input :current_password %>
  <%= f.submit 'Изменить' %>
<% end %>

<h3>Отмена учетной записи</h3>
<%= link_to 'Удалить мою учетную запись', registration_path(resource_name),
            :data => { :confirm => 'Вы точно, хотите удалить вашу учетную запись?' },
            :method => :delete %></p>

<%= link_to 'Назад', :back %>
