<%= render :partial => 'commons/subnavigation' %>

<div class="tab-content">
  <div class="alert alert-info">
    Для запрещения доступа с помощью социальной сети к учетной записи ТУСУР - необходимо удалить авторизованное приложение в настройках конкретной социальной сети!
  </div>

  <ul class="ajaxed list identities">
    <% @identities.each do |identity| %>
      <li class="list-item <%= cycle( "odd", "even" ) %>">
        <%= render :partial => 'identities/identity', :object => identity %>

        <span class="actions pull-right">
          <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, identity_path(identity),
            :data => { :confirm => 'Вы точно, хотите удалить этот аккаунт?' },
            :class => 'pull-right js-delete',
            :remote => true,
            :method => :delete %>
        </span>
      </li>
    <% end %>
  </ul>

  <ul>
    <% User.omniauth_providers.each do |provider| %>
      <li>
        <%= link_to "Связать #{provider.to_s.titleize}", omniauth_authorize_path(current_user, provider) %>
      </li>
    <% end %>
  </ul>

</div>
