<h2>Вход</h2>

<%= simple_form_for resource, :url => session_path(resource_name) do |f| %>
  <%= f.input :email, :autofocus => true %>
  <%= f.input :password %>
  <%= f.input :remember_me, :as => :boolean %>
  <%= f.submit 'Войти' %>
<% end %>

<%= render "devise/shared/links" %>
