<%= content_for :content do %>
  <div class="content <%= controller_name %>">

    <div class="account-wall">
      <h1 class="text-center form-title">
        <%= I18n.t("page_title.#{controller_name}.#{action_name}") %>
      </h1>

      <%= yield %>
    </div>

  </div>
<% end %>

<%= render :file => 'layouts/base' %>
